.calendar-toolbar {
  min-height: 25px;
  margin-top: -10px;

  .chip-content {
    ion-row {
      margin: 20px 0 10px 0;
    }

    .month-label {
      font-size: 15px;
      font-weight: 700;
    }
  }
}

.content-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-40%);
}